.center {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  padding: 0 1rem;
}

.title {
  background: linear-gradient(30deg, #c850c0, #ffcc70);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2.title {
  font-size: 7vh;
}

h3.title {
  font-size: 5vh;
  margin-bottom: 1rem;
}

.tags span {
  margin-bottom: 0.5rem;
}
