.center {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  padding: 0 1rem;
}

.title {
  background: linear-gradient(30deg, #c850c0, #ffcc70);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2.title {
  font-size: 5rem;
}

h3.title {
  font-size: 4rem;
  margin-bottom: 1rem;
}

h4.title {
  font-size: 2rem;
  margin-bottom: 0;
}

.tags span {
  margin-bottom: 0.5rem;
}

.center a {
  color: #0070f3;
}

.bg_white {
  background-color: white;
}
