.center {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  padding: 0 1rem;
}

.title {
  background: linear-gradient(30deg, #c850c0, #ffcc70);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2.title {
  font-size: 5rem;
  margin-bottom: 1rem;
  margin-top: 10rem;
}

h3.title {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.tags {
  line-height: 1.8rem;
}
