.main {
  height: 100vh;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2vh 0 6vh 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
}

.center {
  width: 100vw;
  text-align: center;
  margin-bottom: 50vh;
}

.title {
  font-size: 7vh;
  padding-top: 200px;
  background: linear-gradient(30deg, #c850c0, #ffcc70);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
